body {
	margin: 0;
	background: #222;
	display: flex;
}

fieldset {
	border-color: #444;
	margin: 0;
}

input[type='range'] {
	vertical-align: middle;
}

a {
	color: goldenrod;
}
a.button {
	color: goldenrod;
	font-family: Cantarell;
}

button.link-like {
	border: none;
	background: none;
	color: goldenrod;
	cursor: pointer;
}

table {
	border-spacing: 0;
	color: inherit;
}
td {
	padding-right: 8px;
}

.dim {
	color: #555;
}
.small {
	font-size: 90%;
}

#cfg-wrap {
	position: absolute;
	color: lightgray;
	left: 0;
	top: 0;
	padding: 5px;
	background-color: rgba(32, 32, 32, 0.5);
	transition: background-color 0.1s ease;
	z-index: 1;
}
#cfg-wrap:hover {
	background-color: rgba(32, 32, 32, 0.7);
}

#cfg-wrap:not(.minimized) #cfg-show-button {
	display: none;
}
#cfg-wrap.minimized #cfg-show-button ~ * {
	display: none;
}

input[name='samples'] {
	width: 88px;
}
input[name='iters'] {
	width: 78px;
}

input[name='rot-x'],
input[name='rot-y'] {
	width: 70px;
}
input[name='zoom'] {
	width: 50px;
}

#progress-box {
	position: relative;
	height: 5px;
	margin: 0 0 5px 0;
	border-radius: 1px;
	background-color: rgba(64, 64, 64, 0.8);
	overflow: hidden;
}
#progress-box .bar {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background-color: green;
}

#canvas-wrap {
	width: 100vmin;
	height: 100vmin;
	position: absolute;
	margin-left: calc(50vw - 50vmin);
}
#canvas-wrap #main-canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#canvas-wrap #orientation-canvas {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20vmin;
	height: 20vmin;
}
