body {
	margin: 0;
	background: #222;
}

fieldset {
	border-color: #444;
	margin: 0;
}
fieldset legend {
	font-family: sans-serif;
}

input[type='range'] {
	vertical-align: middle;
}

a {
	color: goldenrod;
}
a.button {
	color: goldenrod;
	font-family: Cantarell;
	font-size: 16px;
	text-decoration: none;
}

button.link-like {
	border: none;
	background: none;
	color: goldenrod;
	cursor: pointer;
	font-family: Cantarell;
	font-size: 16px;
}

table {
	border-spacing: 0;
	color: inherit;
}
td {
	padding-right: 8px;
}

.dim {
	color: #555;
}
.small {
	font-size: 90%;
}

h1 {
	font-size: 110%;
	font-weight: normal;
}

.cfg-info-block {
	margin-left: 14px;
	font-family: sans-serif;
}

#cfg-wrap {
	position: fixed;
	color: lightgray;
	left: 0;
	top: 0;
	max-height: 100%;
	background-color: rgba(32, 32, 32, 0.5);
	transition: background-color 0.1s ease;
	z-index: 1;
	white-space: nowrap;
	/* max-height: 100%; */
	display: flex;
	flex-direction: column;
}
#cfg-wrap:hover {
	background-color: rgba(32, 32, 32, 0.7);
}

#cfg-head {
	padding: 5px 10px 5px 5px;
}

#cfg-scroll {
	padding: 0 5px 5px 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
	transition: scrollbar-color 0.1s ease;
}
#cfg-scroll:hover {
	scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
#cfg-scroll::-webkit-scrollbar {
	width: 6px;
}
#cfg-scroll::-webkit-scrollbar-track {
	background-color: transparent;
}
#cfg-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.1);
	/* not working transition: background-color 0.1s ease; */
}
#cfg-scroll:hover::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.3);
}

#cfg-wrap.minimized {
	background: none;
}
#cfg-wrap:not(.minimized) #cfg-show-button {
	display: none;
}
#cfg-wrap.minimized #cfg-show-button ~ * {
	display: none;
}
#cfg-wrap.minimized #cfg-scroll {
	display: none;
}

input[name='samples'] {
	width: 88px;
}
input[name='iters'] {
	width: 78px;
}

input[name='rot-x'],
input[name='rot-y'] {
	width: 70px;
}
input[name='zoom'] {
	width: 50px;
}

#progress-box {
	position: relative;
	height: 5px;
	margin: 0 0 5px 0;
	border-radius: 1px;
	background-color: rgba(64, 64, 64, 0.8);
	overflow: hidden;
}
#progress-box .bar {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background-color: green;
}

#canvas-wrap {
	width: 100vmin;
	height: 100vmin;
	position: absolute;
	margin-left: calc(50vw - 50vmin);
}
#canvas-wrap #main-canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#canvas-wrap #orientation-canvas {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20vmin;
	height: 20vmin;
}
